* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #262a2f;
    color: #333;
}
.search-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 200px auto 0;
}
.search-box {
    flex: 1;
    background: #862727;
    margin: 200px auto 0;
    border-radius: 5px;
    margin-right: 50px;
}

.search-box {
    flex: 1;
    background: #862727;
    margin: 200px auto 0;
    border-radius: 5px;
    margin-right: 50px;
}

.result-box ul {
    padding: 15px 10px;
    border-top: 1px solid #a02525;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box {
    max-height: 200px;
    overflow-y: scroll;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.result-box ul li:hover {
    background: #e9f3ff;
}



